body{
    text-align: center;
    background-color: blue;
}

.btn-warning{
    background-color: blueviolet;
    font-size: 30px;
}

.btn-success{
    background-color: brown;
    font-size: 30px;
}
h3{
    font-size: 25px !important;
}

canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
